<div class="grayedout" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<section id="login-section">
  <div class="container d-flex justify-content-center">

    <div class="d-flex flex-column justify-content-between">
      <p-toast position="center"></p-toast>


      <div class="card mt-3 p-5">
        <div class="logo mb-3 mx-auto">
          <i class="fa fa-plane fa-5x"></i>
        </div>
        <div>
          <h4 class="text-white">Welcome to Airline Services</h4>
        </div>
        <div class="back-login">
          <a (click)="backToLogin()" class="mb-3 mx-auto back-login">
            <i class="fa fa-chevron-left"></i> Back to Signin
          </a>
        </div>
      </div>
      <div class="card two bg-white px-5 py-4 mb-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
            <label class="form-control-placeholder" for="email">Email</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="name" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Full Name is required</div>
            </div>
            <label class="form-control-placeholder" for="name">Full Name</label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password must be 6 characters long</div>
            </div>
            <label class="form-control-placeholder" for="password">Password</label>
          </div>
          <div class="form-group mb-5 drop-down">
            <p-dropdown [options]="userRoles" optionLabel="label" placeholder="Select role" formControlName="role"
              [ngClass]="{ 'is-invalid': submitted && f.role.errors }"></p-dropdown>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
              <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg mt-1 mb-2" type="submit">
              <span>Sign Up<i class="fas fa-long-arrow-alt-right ml-2"></i></span>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
