.user-header {
    background: #f4f4f4;
    padding: 10px;
    margin-top: 5rem;
}

.user-action {
    a {
        cursor: pointer;
        padding: 0 8px;
    }
}

.text-responsive {
  font-size: calc(0.9vw + 0.9vh);
}

:host ::ng-deep .ui-table-scrollable-header {
    background-color: #f4f4f4;
}

:host ::ng-deep .ui-table-scrollable-view {
    border: 1px solid #c8c8c8;
}

.search {
    position: relative;
    top: 5px;
    right: 25px;
}