<div class="grayedout" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<section class="mt-5">
  <p-toast position="center"></p-toast>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="user-header text-center">
            <h2 class="display-6 d-inline">Users List</h2>
            <button (click)="addClicked()" class="btn btn-primary bg-dark float-right" data-toggle="modal"
              data-target="#addModal"><i class="fa fa-plus mr-2"></i>Add</button>
          </div>
          <p-table [columns]="userHeaders" [value]="allUsers" [scrollable]="true" scrollHeight="330px">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  <span class="text-responsive">{{col.header}}</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr>
                <td *ngFor="let col of columns">
                  <ng-container *ngIf="col.field !== 'action'; else actionRef">
                    <span class="text-responsive">{{rowData[col.field]}}</span>
                  </ng-container>
                  <ng-template #actionRef>
                    <div class="user-action">
                      <a (click)="updateUser(rowData)" data-toggle="modal" data-target="#editModal"><i
                          class="fa fa-edit text-responsive"></i></a>
                      <a (click)="deleteUser(rowIndex)"><i class="fa fa-trash text-responsive"></i></a>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr class="text-center">
                <td [attr.colspan]="columns.length">
                  No Users found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- EDIT MODAL -->
<div class="modal fade text-dark" id="editModal" *ngIf="editUser" #modalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Details</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" [(ngModel)]="editUser.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" [(ngModel)]="editUser.email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" [(ngModel)]="editUser.password"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group mb-5">
            <p-dropdown [options]="userRoles" [(ngModel)]="editUser.role" [ngModelOptions]="{standalone: true}"
              optionLabel="label" placeholder="Select role"></p-dropdown>
          </div>
        </form>
      </div>

      <div class="modal-footer mx-auto">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>

    </div>
  </div>
</div>


<!-- ADD MODAL -->
<div class="modal fade text-dark" id="addModal" *ngIf="addUser" #modalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new User</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group mb-5">
            <p-dropdown [options]="userRoles" [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}"
              optionLabel="label" placeholder="Select role"></p-dropdown>
          </div>
        </form>
      </div>

      <div class="modal-footer mx-auto">
        <button class="btn btn-primary btn-block" (click)="userOperations('add')">Submit</button>
      </div>

    </div>
  </div>
</div>
