.user-header {
    background: #f4f4f4;
    padding: 5px;
    margin-top: 5rem;
}

.user-action {
    a {
        cursor: pointer;
        padding: 0 8px;
    }
}


.text-responsive {
  font-size: calc(0.9vw + 0.9vh);
}