<section>
  <div class="grayedout" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="container emp-profile">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-3">
          <div class="profile-work">
            <p>SKILLS</p>
            <a href="javascript:void(0)">{{ header.role }}</a><br />
          </div>
        </div>
        <div class="col-6">
          <div class="profile-head">
            <h5>
              {{ header.name | titlecase  }}
            </h5>
            <h6>
              {{ header.role }}
            </h6>
            <ul *ngIf="!editMode" class="nav nav-tabs mb-2 nav-justified" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">Timeline</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!editMode" class="col-3 px-0 ml-n3">
          <input type="submit" class="profile-edit-btn" (click)="toggleEdit()" name="btnAddMore" value="Edit Profile" />
        </div>
      </div>
      <div class="row main-profile" [ngClass]="{'pt-4': editMode}">
        <div class="col-md-6 offset-3">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row" [ngClass]="{'pb-4': editMode}">
                <div class="col-md-6">
                  <label>Full Name</label>
                </div>
                <div class="col-md-6">
                  <p *ngIf="!editMode">{{ loggedInUser.name | titlecase  }}</p>
                  <input *ngIf="editMode" type="name" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Full Name is required</div>
                  </div>
                </div>
              </div>
              <div class="row" [ngClass]="{'pb-4': editMode}">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p *ngIf="!editMode">{{ loggedInUser.email}}</p>
                  <input *ngIf="editMode" type="email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="editMode && submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors">Enter a valid Email</div>
                  </div>
                </div>
              </div>
              <div *ngIf="editMode" class="row" [ngClass]="{'pb-4': editMode}">
                <div class="col-md-6">
                  <label>New Password</label>
                </div>
                <div class="col-md-6">
                  <input *ngIf="editMode" type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors">Password must be 6 characters long</div>
                  </div>
                </div>
              </div>
              <div class="row" [ngClass]="{'pb-4': editMode}">
                <div class="col-md-6">
                  <label>Role</label>
                </div>
                <div class="col-md-6">
                  <p *ngIf="!editMode">{{ loggedInUser.role }}</p>
                  <div *ngIf="editMode" class="drop-down">
                    <p-dropdown [options]="userRoles" formControlName="role"
                      [ngClass]="{ 'is-invalid': submitted && f.role.errors }" placeholder="Select role"></p-dropdown>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                      <div *ngIf="f.role.errors.required">Role is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Experience</label>
                </div>
                <div class="col-md-6">
                  <p>Expert {{loggedInUser.role}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Bio</label><br />
                  <p>{{ loggedInUser.role }} at Airline Services</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="editMode" class="col-12 mx-auto d-flex justify-content-center mt-4">
          <div class="form-group px-2">
            <button class="btn btn-primary btn-block mt-1 mb-2" type="submit">
              <span>Update</span>
            </button>
          </div>
          <div class="form-group px-2">
            <button class="btn btn-primary btn-block mt-1 mb-2" (click)="toggleEdit()">
              <span>Cancel</span>
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
  <p-toast position="center"></p-toast>
</section>
